/*
Title:My Bio
Description: Harvard Extension Class: Dynamic Website Application, Project 1
URI: http://p1.yourtripplan.com/
Author: Linghong Chen
Tags: one page, light color, two-columns, right-sidebar
*/

article,aside,header,footer{
	display:block;
}
 
body{
 background-color:
 #CCCCCC;
 color:black;
 font-size:15px;
 font-family:"Truebuchet MS", "Helvetica", Serif;
 max-width:950px;
 width:100%;
 }

 header{
 background-color: #CC99FF;
 height:50px;
 text-align:center;
 font-size:26px;
 width:100%;
 float:left;
 padding-top:10px;		
 }

 article{
 margin:1%;
 background-color: #6699FF;
 text-align:justify;
 width:67%;
 float:left;
 padding:1%;	
 }

 aside{
   	float:right;
 	width:22%;
    background-color: #6699CC;
    text-align:left;
    border:4px solid purple;
    margin:1%;
    padding:1%;
 }

 h1{
  text-align:center;
  font-weight:bold;
 	font-size:20px;
 }

  h2{
  font-weight:bold;
  font-size:17px;
 }

  h3{
  text-align:center;
  font-weight:bold;
  font-size:14px;
 }
  .box{
  width:95%;
  background-color: #FFFF99;
  border:4px solid #FF9910;
  margin:4px;
  }
  
 footer{
  border:4px solid purple;
  width:100%;
  height:30px;
  background-color:#0099FF;
  } 